@import "../../styles/App.scss";


.headerEdit {
    color: #fff;
    margin-bottom: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .formEdit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 350px;
        color: #000;
        text-align: center;

        .formgroup {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;
            text-align: left;

            label {
                font-weight: bold;
                color: #fff;
            }

            input {
                padding: 5px;
                font-size: 1.2rem;
            }
        }

        .btn_group{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 350px;
            width: 100%;
            gap: 30px;
        }
    }

}

.newusername{
    color: aqua;
    margin-top: 1rem;
    text-align: left;
    width: 100%;

}