@import "../../styles/App.scss";

.message {
    color: black;
    font-size: 0.95rem;
    margin-top: 0.5rem;
    text-align: left;
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.active {
    transform: scale(1);
    background: lightgreen;
}

.out{
        transform: scale(1);
        background: lightcoral;
}