@import '../../styles/App.scss';

.iconUserCircle {
    margin-right: 0.2rem;
}


.signOut {
    color: #f00;
    background: #f00;
    padding: 0.2rem;
}

.signIn {
    color: #0f0;
    background: #0f0;
    padding: 0.2rem;
}